# DOTENV TEMPLATE
# Rename this file to .env and specify variables to be stored in the server environment.
# Make sure to also apply any changes in structure to the Settings object in /src/config.py !
#
# Environment variables on the server through with supervisorctl:
# - environment:KEY="val",KEY2="val2"
# - command:set -a; source ~/%(ENV_HOME)/my-project-dir/.env; set +a
#
# https://help.pythonanywhere.com/pages/environment-variables-for-web-apps/
# http://supervisord.org/configuration.html

# Environment
# Reminder: Environment Variable values are always stored as strings, so booleans are ONLY tested for presence;
#           But because we're also using Pydantic: Uncomment AND set to True to activate

# export TESTING=True
# export PRODUCTION=True

# Github
export GITHUB_USER=''
export GITHUB_TOKEN=''

# Database
export DB_HOST='localhost'
export DB_USER=''
export DB_PASSWORD=''
export DB_GAMES='db_games'
export DB_USERS='db_users'
