# web framework
fastapi

# template language
jinja2

# required for serving static files
aiofiles

# orm
pony
pymysql

# ASGI service workers
uvicorn

# pydantic
python-dotenv
email-validator

# testing
pytest
requests

# tools
pyyaml