# main application
flask
connexion[swagger-ui]
python-dotenv
pony
pymysql
pygithub
cryptography

# tools
python-frontmatter
pyyaml
mistune
requests

# testing
coverage
pytest

# error logging
sentry-sdk[flask]
