name: APIInfo Trigger

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Webhook POST Action
        uses: muinmomin/webhook-action@v1.0.0
        with:
          url: https://api.alele.io/import
          data: {"name": "aleleio-api"}
